@import url("../../utilities/variables.less");

.navbar {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.09);
}

.navbar-top {
  .ant-menu-item:first-child {
    margin-top: 0px;
  }
  .ant-layout-header {
    padding-left: 30px;
    padding-right: 78px;
  }
  .logo img {
    max-width: 200px;
    height: auto;
    max-height: 60px;
  }

  .search-box {
    max-width: 300px;
    margin-left: 27px;
    .ant-input {
      border-radius: 0;
      border: none;
      font-size: 18px;
    }
    .ant-input-affix-wrapper .ant-input:not(:first-child) {
      padding-left: 40px;
    }
    .anticon {
      font-size: 18px;
      color: @color-text;
    }
  }

  .ant-menu-horizontal >  {
    .ant-menu-submenu:hover,
    .ant-menu-submenu-selected,
    .ant-menu-submenu-active {
      //color: @color-primary;
      border-color: @color-primary;
    }
    .ant-menu-item:hover,
    .ant-menu-item-selected,
    .ant-menu-item-active {
      border-color: @color-primary;
    }
  }

  //  .ant-menu-item:hover,
  //  .ant-menu-submenu:hover,
  //  .ant-menu-item-active,
  //  .ant-menu-submenu-active,
  //  .ant-menu-item-open,
  //  .ant-menu-submenu-open,
  //  .ant-menu-item-selected,
  //  .ant-menu-submenu-selected {

  // }
}

.navbar-top .ant-menu-item .anticon {
  font-size: 24px;
  color: @color-primary;
}

.ant-menu-submenu-popup {
  .ant-menu-item-active {
    color: @color-text;
    background-color: @color-primary;
  }
}
