REACT_APP_CERTA_ENV=development
REACT_APP_RECAPTCHA_ENABLED=false
REACT_APP_API_ORIGIN=https://api.slackcart.com
REACT_APP_AUDIT_LOG_BASE_URL=https://fhbrwrb2q6.execute-api.us-east-1.amazonaws.com/dev/
REACT_APP_ACTIVITY_LOG_SERVERLESS=true
