.add_comment_btn {
  float: right;
  font-size: 12px;
  margin-top: 4px;
  cursor: pointer;
}

.mentions {
  background: #eaf5fc;
  color: #0576b9;
}

.comment_step_bar {
  width: 100%;
  color: #000000;
  background: #e6fffd;
  border: 1px solid #8bded8;
  font-size: 13px;
}
