@import "../utilities/variables.scss";

.add_comment_btn {
  float: right;
  font-size: 12px;
  margin-top: 4px;
  cursor: pointer;
}

.mentions {
  background: #eaf5fc;
  color: #0576b9;
}

.comment_step_bar {
  width: 100%;
  color: $color-text;
  background: lighten($color-secondary, 30%);
  border: 1px solid $color-secondary;
  font-size: 13px;
}

.comment-actions {
  background: #fcfdff;
  padding: 15px;
  margin: 0 -15px;
}

.comments-list {
  padding-bottom: 15px;
  overflow: auto;
}

.affix-bottom {
  position: fixed;
  bottom: -14px;
}
