.aux-nav {
  background-color: rgb(235, 240, 250);
}

.aux-item {
  padding-left: 16px;
  padding-right: 16px;
}

.aux-lead {
  margin-top: 16px;
  margin-bottom: 16px;
  color: rgba(48, 94, 190, 0.5);
  font-size: 14px;
  text-transform: uppercase;
}

.aux-nav-filter .ant-menu .ant-menu-item {
  color: #929292;
}

.aux-nav-filter .ant-menu .ant-menu-item-active,
.aux-nav-filter .ant-menu .ant-menu-item-selected {
  color: #305ebe;
}

.aux-nav .ant-menu .ant-menu-submenu,
.aux-nav .ant-menu .ant-menu-submenu:hover,
.aux-nav .ant-menu .ant-menu-submenu-title:hover,
.aux-nav .ant-menu .ant-menu-submenu-active,
.aux-nav .ant-menu .ant-menu-item-selected,
.aux-nav .ant-menu .ant-menu-submenu-selected,
.aux-nav .ant-menu .ant-menu-item-active {
  color: #305ebe;
}

.aux-nav .ant-menu .ant-menu-submenu-title:hover,
.aux-nav .ant-menu .ant-menu-submenu {
  font-weight: 500;
  /*  color: #a0a0a0*/
}
.aux-nav .ant-menu .ant-menu-item {
  font-weight: normal;
  color: #a0a0a0;
}

.aux-nav .ant-menu .ant-menu-item:not(.text-green),
.aux-nav .ant-menu .ant-menu-item-active:not(.text-green):hover,
.aux-nav .ant-menu .ant-menu-item-active:not(.text-green) {
  font-weight: normal;
}

.aux-nav .ant-menu .ant-menu-item-selected {
  color: #305ebe;
  background-color: #dae3f9;
}

.aux-nav .ant-menu-vertical .ant-menu-item:after,
.aux-nav .ant-menu-vertical-left .ant-menu-item:after,
.aux-nav .ant-menu-vertical-right .ant-menu-item:after,
.aux-nav .ant-menu-inline .ant-menu-item:after {
  border-right: 3px solid #305ebe;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom-color: #305ebe;
  color: #305ebe;
}
