.aux-nav {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.aux-item {
  padding-left: 30px;
  padding-right: 30px;
}
.aux-lead {
  margin-top: 14px;
  margin-bottom: 14px;
  color: #343b4c;
  font-size: 18px;
  font-weight: 500;
}
.aux-nav-filter .ant-menu .ant-menu-item {
  color: #343b4c;
}
.aux-nav-filter .ant-menu .ant-menu-item-active,
.aux-nav-filter .ant-menu .ant-menu-item-selected {
  color: #343b4c;
}
