@import url("../utilities/variables.less");

.ant-btn-primary {
  background-color: @color-primary;
  border-color: @color-primary;
}

.ant-btn-primary:focus,
.ant-btn-primary:hover,
.ant-btn-primary:active {
  background-color: @color-primary-dark;
  border-color: @color-primary-dark;
}
