.Avenir-light {
  font-family: AvenirLTPro-Light, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.Avenir-normal {
  font-family: AvenirLTPro-Book, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.Avenir-medium {
  font-family: AvenirLTPro-Medium, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.Avenir-heavy {
  font-family: AvenirLTPro-Heavy, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1,
h2,
h3,
h4,
h5 {
  font-family: AvenirLTPro-Heavy, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.ant-btn {
  border-radius: 2px;
}
.ant-btn-primary {
  background-color: #6178ea;
  border-color: #6178ea;
  color: #fff;
}
.ant-btn-primary:focus,
.ant-btn-primary:hover,
.ant-btn-primary:active {
  background-color: #7f93f4;
  border-color: #7f93f4;
  color: #fff;
}
.btn-block {
  width: 100%;
}
.main-btn {
  background: #6178ea;
  color: #fff;
  border: none;
}
.main-btn:focus,
.main-btn:hover,
.main-btn:active {
  border-color: none;
  box-shadow: none;
}
.secondary-btn {
  background: #d2d8f9;
  color: #343b4c;
  border: none;
}
.secondary-btn:focus,
.secondary-btn:hover,
.secondary-btn:active {
  border-color: none;
  box-shadow: none;
}
.btn-grey {
  background-color: transparent;
  color: #a0a0a0;
  border: 1px solid #a0a0a0;
}
.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus {
  box-shadow: none;
  color: #a0a0a0;
  border: 1px solid #a0a0a0;
}
.ant-btn.main-btn {
  background: #6178ea;
  color: #fff;
  border: none;
}
.ant-btn.main-btn:focus,
.ant-btn.main-btn:hover,
.ant-btn.main-btn:active {
  border-color: none;
  box-shadow: none;
}
.ant-btn.btn-grey {
  background-color: transparent;
  color: #a0a0a0;
  border: 1px solid #a0a0a0;
}
.ant-btn.btn-grey:hover,
.ant-btn.btn-grey:active,
.ant-btn.btn-grey:focus {
  box-shadow: none;
  color: #a0a0a0;
  border: 1px solid #a0a0a0;
}
.ant-btn.secondary-btn {
  background: #d2d8f9;
  color: #343b4c;
  border: none;
}
.ant-btn.secondary-btn:focus,
.ant-btn.secondary-btn:hover,
.ant-btn.secondary-btn:active {
  border-color: none;
  box-shadow: none;
}
.ant-btn.btn-create {
  font-size: 18px;
  background: #17ead9;
  /* Old browsers */
  background: -moz-linear-gradient(left, #17ead9 0%, #6078ea 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #17ead9 0%, #6078ea 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #17ead9 0%, #6078ea 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17ead9", endColorstr="#6078ea", GradientType=1);
  /* IE6-9 */
  border: none;
}
.ant-btn.btn-create:focus,
.ant-btn.btn-create:hover,
.ant-btn.btn-create:active {
  border-color: none;
  box-shadow: none;
}
.ant-btn.btn-cyan {
  background-color: #35f3e1;
  color: #343b4c;
}
.ant-btn.btn-cyan:hover,
.ant-btn.btn-cyan:active,
.ant-btn.btn-cyan:focus {
  border-color: #35f3e1;
}
.ant-dropdown-button button,
.ant-dropdown-button button:hover {
  background: #6178ea;
  color: #fff;
  border: none;
  color: inherit;
}
.ant-dropdown-button button:focus,
.ant-dropdown-button button:hover:focus,
.ant-dropdown-button button:hover,
.ant-dropdown-button button:hover:hover,
.ant-dropdown-button button:active,
.ant-dropdown-button button:hover:active {
  border-color: none;
  box-shadow: none;
}
.ant-progress-circle.ant-progress-status-success .ant-progress-text,
.ant-progress-circle.ant-progress-status-success .ant-progress-text .material-icons {
  color: #6178ea;
}
.ant-progress-status-success .ant-progress-circle-path {
  stroke: #6178ea;
}
.ant-progress-text .material-icons {
  color: #109f94;
}
.ant-progress-circle-path {
  stroke: #6178ea;
}
.ant-progress-circle-trail {
  stroke: #eee;
}
.ant-dropdown .ant-dropdown-menu-item {
  color: #343b4c;
  padding: 5px 18px;
}
.ant-dropdown .ant-dropdown-menu-item a:hover {
  text-decoration: none;
  color: inherit;
}
.ant-dropdown .ant-dropdown-menu-item-active {
  background-color: #eee;
}
.step-ui .ant-steps-item .material-icons {
  vertical-align: middle;
}
.step-ui .ant-steps-item .ant-steps-item-icon {
  display: none;
}
.step-ui .title-c {
  max-width: 150px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.step-ui .dash {
  display: inline-block;
  padding-left: 18px;
  padding-right: 18px;
  vertical-align: middle;
  color: #343b4c;
  font-weight: 700;
}
.ant-menu .ant-menu-item:after {
  border-color: #6178ea;
  border-right-width: 4px;
}
.ant-select-dropdown-menu-item:hover,
.ant-select-dropdown-menu-item-active,
.ant-cascader-menu-item:hover {
  background-color: #eee;
}
.ant-input {
  font-family: Avenir, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.ant-pagination-item-active,
.ant-pagination-item-active:focus,
.ant-pagination-item-active:hover {
  border-color: #6178ea;
}
.ant-menu-horizontal {
  border-bottom: none;
}
.ant-dropdown-menu-item,
.ant-select-dropdown-menu-item {
  white-space: normal;
}
.ant-timeline-item-head-custom {
  left: 6px;
}
.ant-carousel .slick-dots li button {
  border: 0;
  cursor: pointer;
  background: #6178ea;
  opacity: 1;
  display: block;
  width: 20px;
  height: 5px;
  border-radius: 1px;
  outline: none;
  font-size: 0;
  color: transparent;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0;
}
.ant-carousel .slick-dots li.slick-active button {
  background: #a0a0a0;
}
.ant-switch-checked {
  background: #6178ea;
}
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #6178ea;
  border-color: #6178ea;
}
