@import url("../utilities/variables.less");

.ant-btn-primary {
  background-color: @color-primary;
  border-color: @color-primary;
}

.ant-btn-primary:focus,
.ant-btn-primary:hover,
.ant-btn-primary:active {
  background-color: @color-primary-dark;
  border-color: @color-primary-dark;
}

//make this override module for all the ant style

//override color for progressbar  circle

.ant-progress-circle-path {
  stroke: @color-primary;
}

.ant-progress-circle-trail {
  stroke: @color-grey-lightest;
}
