.ant-btn-primary {
  background-color: #795548;
  border-color: #795548;
}
.ant-btn-primary:focus,
.ant-btn-primary:hover,
.ant-btn-primary:active {
  background-color: #523a31;
  border-color: #523a31;
}
