@import "../../utilities/variables.scss";

.recharts-wrapper {
  .recharts-default-legend {
    text-align: left !important;
  }
  .recharts-legend-wrapper {
    .recharts-legend-item {
      padding: 2px 5px;
      cursor: pointer;
      &:hover {
        color: #343434;
        background: rgba(0, 0, 0, 0.02);
      }
    }
  }
}
