.Avenir-light {
  font-family: AvenirLTPro-Light, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.Avenir-normal {
  font-family: AvenirLTPro-Book, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.Avenir-medium {
  font-family: AvenirLTPro-Medium, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.Avenir-heavy {
  font-family: AvenirLTPro-Heavy, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: AvenirLTPro-Heavy, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
/*text colors*/
.text-primary {
  color: #17ead9;
}
.text-primary-light {
  color: #e5fdfb;
}
.text-red {
  color: #f16b51;
}
.text-orange {
  color: #ff7429;
}
.text-yellow {
  color: #eebd47;
}
.text-green {
  color: #3c763d;
}
.text-grey-dark {
  color: #505050;
}
.text-metal {
  color: #85d2cc;
}
.text-light {
  color: rgba(52, 59, 76, 0.6);
}
.text-white {
  color: #fff;
}
.text-base {
  color: #343b4c;
}
.text-secondary {
  color: #6178ea;
}
/*Text aligmnet*/
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-middle {
  vertical-align: middle;
}
/*Text weight*/
.text-bold {
  font-family: AvenirLTPro-Heavy, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.text-medium {
  font-family: AvenirLTPro-Medium, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.text-normal {
  font-family: AvenirLTPro-Book, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.text-thin {
  font-family: AvenirLTPro-Light, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
/*Text size*/
.t-12 {
  font-size: 12px;
}
.t-14 {
  font-size: 14px;
}
.t-16 {
  font-size: 16px;
}
.t-18 {
  font-size: 18px;
}
.t-22 {
  font-size: 22px;
}
.t-24 {
  font-size: 24px;
}
/*Text case*/
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-ellipsis {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text-anchor {
  cursor: pointer;
}
.text-underline {
  text-decoration: underline;
}
.text-nounderline,
.text-nounderline:hover {
  text-decoration: none;
}
/*Background Colors*/
.bg-primary {
  background-color: #17ead9;
}
.bg-primary-light {
  background: #e5fdfb;
}
.bg-red {
  background-color: #f16b51;
}
.bg-orange {
  background-color: #ff7429;
}
.bg-yellow {
  background-color: #eebd47;
}
.bg-green {
  background-color: #3c763d;
}
.bg-grey-dark {
  background-color: #505050;
}
.bg-metal {
  background-color: #85d2cc;
}
.bg-light {
  background-color: rgba(52, 59, 76, 0.6);
}
.bg-white {
  background-color: #fff;
}
/*Padding*/
.side-padder-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.vertical-padder-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pd-left {
  padding-left: 16px;
}
.pd-right {
  padding-right: 16px;
}
.pd-top {
  padding-top: 16px;
}
.pd-bottom {
  padding-bottom: 16px;
}
.pd-left-sm {
  padding-left: 8px;
}
.pd-right-sm {
  padding-right: 8px;
}
.pd-top-sm {
  padding-top: 8px;
}
.pd-bottom-sm {
  padding-bottom: 8px;
}
.pd-left-lg {
  padding-left: 24px;
}
.pd-right-lg {
  padding-right: 24px;
}
.pd-top-lg {
  padding-top: 24px;
}
.pd-bottom-lg {
  padding-bottom: 24px;
}
.pd-ard-sm {
  padding: 8px;
}
.pd-ard-md {
  padding: 16px;
}
.pd-ard-lg {
  padding: 24px;
}
/*Margin*/
.mr-ard-sm {
  margin: 8px;
}
.mr-ard-md {
  margin: 16px;
}
.mr-ard-lg {
  margin: 24px;
}
.mr-left {
  margin-left: 16px;
}
.mr-right {
  margin-right: 16px;
}
.mr-top {
  margin-top: 16px;
}
.mr-bottom {
  margin-bottom: 16px;
}
.mr-left-sm {
  margin-left: 8px;
}
.mr-right-sm {
  margin-right: 8px;
}
.mr-top-sm {
  margin-top: 8px;
}
.mr-bottom-sm {
  margin-bottom: 8px;
}
.mr-left-lg {
  margin-left: 24px;
}
.mr-right-lg {
  margin-right: 24px;
}
.mr-top-lg {
  margin-top: 24px;
}
.mr-bottom-lg {
  margin-bottom: 24px;
}
/*Float and clear*/
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.color-grey-dark-fix {
  clear: both;
}
/* box shadow */
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.small {
  font-size: 80%;
}
.opacity-half {
  opacity: 0.5;
}
.display-inline-block {
  display: inline-block;
}
.hidden {
  display: none;
}
.disabled {
  cursor: not-allowed;
}
.waiting-filter-warpper {
  overflow: hidden;
}
.aux-nav-filter .create-btn {
  margin: 40px 45px 30px;
  border-bottom: 2px solid #f4f5f7;
}
.aux-nav-filter .filter-divider {
  margin: 30px 45px 23px;
  border-bottom: solid 3px rgba(82, 95, 127, 0.05);
}
.aux-nav-filter .filter-section {
  margin-bottom: 40px;
}
.aux-nav-filter .filter-section .ant-menu-item {
  line-height: 26px;
  height: 26px;
  padding-left: 45px;
  padding-right: 45px;
}
.aux-nav-filter .aux-lead-secondary {
  color: #505050;
}
.aux-nav-filter .section-kind .icon {
  font-size: 16px;
  vertical-align: middle;
  padding-right: 8px;
}
.aux-nav-filter .aux-lead {
  text-transform: capitalize;
  padding-right: 30px;
  padding-left: 45px;
}
.aux-nav-filter .aux-lead.filter-title {
  font-size: 14px;
  font-family: AvenirLTPro-Book, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.aux-nav-filter .ant-form-item {
  margin-bottom: 8px;
}
.aux-nav-filter .ant-menu .ant-menu-item {
  color: #343b4c;
}
.aux-nav-filter .ant-menu .ant-menu-item .icon {
  color: #109f94;
}
.aux-nav-filter .ant-menu .ant-menu-item-active,
.aux-nav-filter .ant-menu .ant-menu-item-selected {
  color: #343b4c;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #f2f5fa;
}
.kind-menu .ant-dropdown-menu-item {
  padding: 0px 0px;
}
.kind-menu .ant-dropdown-menu-item .kind-item {
  padding: 4px 18px;
}
.kind-menu .ant-dropdown-menu-item .material-icons {
  display: inline-block;
  width: 20px;
  color: #109f94;
}
.filter-top {
  position: relative;
  overflow-x: hidden;
  margin: 20px 0px;
  background-color: transparent;
}
.filter-top .ant-badge-multiple-words {
  padding: 0 4px;
}
.filter-top .filter-top-list {
  width: 100%;
  padding: 0;
  list-style: none;
}
.filter-top .filter-top-list .filter-top-list-item {
  cursor: pointer;
  padding: 16px;
  display: inline-block;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  min-width: 150px;
  max-width: 200px;
  background: #fff;
  border: 1px solid #a0a0a0;
  color: rgba(52, 59, 76, 0.6);
  transition: all 0.3s ease-in-out;
  /*line-height: 60px;*/
}
.filter-top .filter-top-list .filter-top-list-item:hover {
  background: #f6f6f6;
}
.filter-top .filter-top-list .filter-top-list-item:active,
.filter-top .filter-top-list .filter-top-list-item.active {
  background: #85d2cc;
  color: #fff;
}
.filter-top .filter-top-horizontal {
  background-color: transparent;
}
.filter-top .filter-top-horizontal .ant-menu-item {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;
  color: #343b4c;
  border: 1px solid #fff;
  border-bottom: 3px solid #fff;
  height: 100px;
  font-family: Avenir, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.filter-top .filter-top-horizontal .ant-menu-item:hover,
.filter-top .filter-top-horizontal .ant-menu-item.ant-menu-item-selected {
  box-shadow: none;
  background-color: #f6f7f9;
  border: 1px solid #eaeaea;
  border-bottom: 3px solid #6178ea;
}
.filter-top .filter-top-horizontal .ant-menu-item .group {
  margin-bottom: 10px;
  display: inline-block;
}
.filter-top .filter-top-horizontal .ant-menu-item .ant-badge-count {
  font-family: AvenirLTPro-Heavy, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.filter-top .filter-top-horizontal .workflow-group-count {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-family: AvenirLTPro-Book, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
}
.filter-top .filter-top-horizontal,
.filter-top .ant-menu-horizontal {
  white-space: nowrap;
}
.filter-top .ant-menu-horizontal > .ant-menu-item {
  text-align: center;
  line-height: 1.45;
  padding: 15px;
  min-width: 100px;
  float: none !important;
  display: inline-block;
  margin-right: 6px;
}
.adv-filter-list {
  margin-top: 20px;
}
.adv-filter-list .adv-filter-item {
  cursor: pointer;
  font-size: 12px;
  background: #f2f5fa;
  border-radius: 3px;
  word-break: break-word;
  padding: 6px 23px 6px 14px;
  line-height: 1.2;
  margin-bottom: 20px;
  position: relative;
}
.adv-filter-list .adv-filter-item:after {
  content: "\E62E";
  position: absolute;
  top: 50%;
  right: 0;
  visibility: visible;
  pointer-events: none;
  width: 32px;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  text-align: center;
  font-size: 12px;
  -webkit-animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  font-family: anticon;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
  color: #a0a0a0;
}
.adv-filter-list .adv-filter-item:not(:last-child):before {
  content: "&";
  position: absolute;
  top: 125%;
  left: 0;
  visibility: visible;
  pointer-events: none;
  width: 32px;
  height: 20px;
  line-height: 20px;
  margin-top: -10px;
  text-align: center;
  font-size: 12px;
  -webkit-animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
}
