.workflow-details-container .ant-layout-sider .ant-menu-submenu > .ant-menu {
  background: transparent;
  color: #305ebe;
}

.workflow-details-container
  .ant-layout-sider
  .ant-menu-submenu
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  background: #dadcf6;
  color: #305ebe;
}

.aux-nav-menu {
  overflow-x: visible !important;
}

.ant-form.step-form .ant-form-item-label label {
  display: block;
}
