@import url("../../utilities/variables.less");

.workflow-details-container .ant-layout-sider .ant-menu-submenu > .ant-menu {
  background: @color-primary-light;
  color: @color-primary;
}

.workflow-details-container
  .ant-layout-sider
  .ant-menu-submenu
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  background: @color-primary-light-detone;
  color: @color-primary;
  &.text-green {
    color: @color-green;
  }
}

.aux-nav-menu {
  overflow-x: visible !important;
}

.ant-form.step-form .ant-form-item-label label {
  display: block;
}

.ant-form.step-form {
  .has-success.has-feedback:after {
    color: @color-green;
  }
}
