.Avenir-light {
  font-family: AvenirLTPro-Light, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.Avenir-normal {
  font-family: AvenirLTPro-Book, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.Avenir-medium {
  font-family: AvenirLTPro-Medium, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.Avenir-heavy {
  font-family: AvenirLTPro-Heavy, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: AvenirLTPro-Heavy, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.workflow-details-container
  .ant-layout-sider
  .ant-menu-submenu
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  background: #f2f5fa;
  color: #343b4c;
}
.aux-step-sidebar .ant-menu .ant-menu-item:-active {
  color: #343b4c;
}
.aux-step-sidebar .ant-menu .ant-menu-item:-selected {
  color: #343b4c;
}
.aux-step-sidebar .ant-menu .ant-menu-item:hover {
  color: #343b4c;
}
.aux-nav-menu {
  overflow-x: visible !important;
}
.ant-form.step-form .ant-form-item-label label {
  color: #343b4c;
}
.ant-form.step-form .ant-form-item-label label {
  text-transform: uppercase;
  white-space: normal;
}
.ant-form.step-form .has-success.has-feedback:after {
  color: #3c763d;
}
.ant-form.step-form .step-form-paragraph {
  margin-bottom: 24px;
  font-size: 16px;
  font-family: AvenirLTPro-Medium, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
  color: #505050;
}
.ant-form.step-form .step-form-break {
  height: 1px;
  margin-bottom: 34px;
}
.ant-form.step-form .ant-form-item {
  margin-bottom: 24px;
}
.ant-form.step-form .ant-form-item .ant-form-item-label {
  padding-bottom: 5px;
}
.ant-form.step-form .ant-form-item .ant-form-item-label label {
  margin-bottom: 0;
}
.ant-form.step-form .react-tel-input {
  display: inline-block;
  width: 100%;
}
.ant-form.step-form .react-tel-input input {
  box-shadow: none;
  height: 30px;
}
.ant-form.step-form .react-tel-input input:focus,
.ant-form.step-form .react-tel-input input:hover {
  border-color: #6178ea;
}
.ant-form.step-form .react-tel-input.disabled input {
  background-color: #f5f5f5;
  border-color: #e6d8d8;
  color: rgba(0, 0, 0, 0.25);
}
.ant-form.step-form .react-tel-input.disabled input:hover,
.ant-form.step-form .react-tel-input.disabled input:focus {
  border-color: #cacaca;
}
.ant-form.step-form .react-tel-input input.invalid-number:hover {
  border-color: #f16b51;
}
.ant-form.step-form .ant-radio-inner:after {
  background-color: #6178ea;
}
.ant-form.step-form .ant-input:not(.ant-input-disabled):hover,
.ant-form.step-form
  .ant-input-affix-wrapper:hover
  .ant-input:not(.ant-input-disabled),
.ant-form.step-form .ant-radio-wrapper:hover .ant-radio .ant-radio-inner,
.ant-form.step-form .ant-radio:hover .ant-radio-inner,
.ant-form.step-form .ant-radio-focused .ant-radio-inner,
.ant-form.step-form .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover,
.ant-form.step-form .ant-input-number-focused,
.ant-form.step-form .ant-input-number:not(.ant-input-number-disabled):hover,
.ant-form.step-form .ant-select-enabled .ant-select-selection:hover {
  border-color: #6178ea;
}
.ant-form.step-form .file-upload-field {
  width: 100%;
  border: 2px dashed #a0a0a0;
  height: 150px;
  text-align: center;
  border-radius: 3px;
}
.ant-form.step-form .file-upload-field.disabled {
  background-color: #f5f5f5;
  border-color: #e6d8d8;
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
}
.ant-form.step-form .file-upload-field .upload-drag-icon {
  padding: 20px 20px 0 20px;
}
.ant-form.step-form .file-upload-field:not(.disabled):hover {
  border-color: #6178ea;
}
.ant-form.step-form .file-upload-field.file-upload-field-reject {
  border-color: #f16b51;
}
.ant-form.step-form .dropped-files ul {
  list-style: none;
  padding: 20px 0;
}
.ant-form.step-form .dropped-files li a {
  color: #6178ea;
}
.aux-nav .ant-menu .ant-menu-submenu,
.aux-nav .ant-menu .ant-menu-submenu:hover,
.aux-nav .ant-menu .ant-menu-submenu-title:hover,
.aux-nav .ant-menu .ant-menu-submenu-active {
  color: #343b4c;
}
.aux-nav .ant-menu .ant-menu-submenu.completed,
.aux-nav .ant-menu .ant-menu-submenu:hover.completed,
.aux-nav .ant-menu .ant-menu-submenu-title:hover.completed,
.aux-nav .ant-menu .ant-menu-submenu-active.completed {
  color: #6178ea;
}
.aux-nav .ant-menu .ant-menu-submenu-title .material-icons,
.aux-nav .ant-menu .ant-menu-submenu .material-icons,
.aux-nav .ant-menu .ant-menu-submenu > .ant-menu-item .material-icons {
  font-size: 20px;
  vertical-align: middle;
}
