@import url("../../utilities/variables.less");
@import url("../../utilities/helper.less");

.workflow-details-container .ant-layout-sider .ant-menu-submenu > .ant-menu {
}

.workflow-details-container
  .ant-layout-sider
  .ant-menu-submenu
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
}

.aux-nav-filter {
  .create-btn {
    margin: 85px 30px 40px;
    border-bottom: 2px solid #f4f5f7;
  }

  .filter-section {
    margin-bottom: 40px;
    .ant-menu-item {
      line-height: 30px;
      height: 30px;
    }
  }
  .aux-lead-secondary {
    color: @color-grey-dark;
  }
  .section-kind .icon {
    font-size: 16px;
    vertical-align: middle;
    padding-right: 8px;
  }
}

.aux-nav-filter {
  // .ant-menu .ant-menu-item:hover {
  //   color: @color-primary;
  //   &:after {
  //     border-right: 3px solid @color-primary;
  //   }
  //   .ant-menu-item-selected {
  //     color: @color-primary;
  //     background-color: @color-primary-light-detone; //#dae3f9
  //   }
  // }
  .ant-form-item {
    margin-bottom: 8px;
  }
}

.aux-nav-filter {
  .ant-menu {
    .ant-menu-item {
      color: @color-text;
      .icon {
        color: @color-primary-dark;
      }
    }
    .ant-menu-item-active,
    .ant-menu-item-selected {
      color: @color-text;
    }
  }
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: @color-primary;
  .icon {
    color: @color-text;
  }
}

.kind-menu {
  .ant-dropdown-menu-item {
    .material-icons {
      display: inline-block;
      width: 20px;
    }
  }
}

.filter-top {
  position: relative;
  overflow-x: hidden;
  margin: 0 54px;
  background-color: transparent;
  border-bottom: 1px solid @color-text;
  padding-bottom: 15px;
  //border-radius: 4px;

  .filter-top-list {
    width: 100%;
    padding: 0;
    list-style: none;
    .filter-top-list-item {
      cursor: pointer;
      padding: 16px;
      display: inline-block;
      height: 80px;
      text-align: center;
      vertical-align: middle;
      min-width: 150px;
      max-width: 200px;
      background: @color-white;
      border: 1px solid @color-grey-light;
      color: @color-grey;
      transition: all 0.3s ease-in-out;
      /*line-height: 60px;*/
      &:hover {
        background: #f6f6f6;
      }
      &:active,
      &.active {
        background: @color-metal;
        color: @color-white;
      }
    }
  }

  .filter-top-horizontal {
    background-color: transparent;
    .ant-menu-item {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.06), 0 1px 6px rgba(0, 0, 0, 0.12);
      background-color: @color-white;
      color: @color-text;
      &:hover,
      &.ant-menu-item-selected {
        box-shadow: none;
        background-color: #ecedf1;
        border-bottom: none;
      }
      .group {
        margin-bottom: 10px;
        display: inline-block;
      }
      .ant-badge-count {
        font-weight: 700;
      }
    }
    .workflow-count {
      font-weight: 500;
      font-size: 34px;
    }
  }

  .filter-top-horizontal,
  .ant-menu-horizontal {
    white-space: nowrap;
  }

  .ant-menu-horizontal {
    > .ant-menu-item {
      text-align: center;
      line-height: 1.45;
      padding: 20px;
      min-width: 100px;
      float: none !important;
      display: inline-block;
      margin-right: 10px;
    }

    > .ant-menu-item-active .count {
      //color: @color-grey-dark;
    }
    > .ant-menu-item-selected {
      //background: #f1f2f6;
    }
    > .ant-menu-item-selected {
      .group,
      .material-icons {
        //color: @color-primary;
      }
    }
  }
}

.adv-filter-list {
  .adv-filter-item {
    cursor: pointer;
    font-size: 12px;
    background: @color-primary-light-detone;
    border-radius: 3px;
    word-break: break-word;
    padding: 6px 23px 6px 14px;
    line-height: 1.2;
    margin-bottom: 20px;
    position: relative;
    &:after {
      content: "\E62E";
      font-family: anticon;
      position: absolute;
      top: 50%;
      right: 0;
      visibility: visible;
      pointer-events: none;
      width: 32px;
      height: 20px;
      line-height: 20px;
      margin-top: -10px;
      text-align: center;
      font-size: 12px;
      -webkit-animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
      animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
      font-family: anticon;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      z-index: 1;
      color: @color-grey-light;
    }
    &:not(:last-child):before {
      content: "&";
      //font-family: anticon;
      position: absolute;
      top: 125%;
      left: 0;
      visibility: visible;
      pointer-events: none;
      width: 32px;
      height: 20px;
      line-height: 20px;
      margin-top: -10px;
      text-align: center;
      font-size: 12px;
      -webkit-animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
      animation: zoomIn 0.3s cubic-bezier(0.12, 0.4, 0.29, 1.46);
      //font-family: anticon;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      z-index: 1;
    }
  }
}
