.workflow-details-container .ant-layout-sider .ant-menu-submenu > .ant-menu {
  background: #e8edf8;
  color: #305ebe;
}
.workflow-details-container
  .ant-layout-sider
  .ant-menu-submenu
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  background: #d4ddf1;
  color: #305ebe;
}
.workflow-details-container
  .ant-layout-sider
  .ant-menu-submenu
  > .ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item-selected.text-green {
  color: #8bcd36;
}
.aux-nav-menu {
  overflow-x: visible !important;
}
.ant-form.step-form .ant-form-item-label label {
  display: block;
}
.ant-form.step-form .has-success.has-feedback:after {
  color: #8bcd36;
}
.ant-form.step-form .step-form-paragraph {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  color: #505050;
}
.ant-form.step-form .step-form-break {
  height: 1px;
  margin-bottom: 34px;
}
.ant-form.step-form .ant-form-item {
  margin-bottom: 24px;
}
.ant-form.step-form .ant-form-item .ant-form-item-label {
  padding-bottom: 5px;
}
.ant-form.step-form .ant-form-item .ant-form-item-label label {
  margin-bottom: 0;
}
.ant-form.step-form .react-tel-input {
  width: 100%;
}
.ant-form.step-form .react-tel-input input {
  box-shadow: none;
  height: 30px;
}
.ant-form.step-form .react-tel-input input:focus,
.ant-form.step-form .react-tel-input input:hover {
  border-color: #305ebe;
}
.ant-form.step-form .ant-radio-inner:after {
  background-color: #305ebe;
}
.ant-form.step-form .ant-input:hover,
.ant-form.step-form
  .ant-input-affix-wrapper:hover
  .ant-input:not(.ant-input-disabled),
.ant-form.step-form .ant-radio-wrapper:hover .ant-radio .ant-radio-inner,
.ant-form.step-form .ant-radio:hover .ant-radio-inner,
.ant-form.step-form .ant-radio-focused .ant-radio-inner,
.ant-form.step-form .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover,
.ant-form.step-form .ant-input-number-focused,
.ant-form.step-form .ant-input-number:hover {
  border-color: #305ebe;
}
.ant-form.step-form .file-upload-field {
  width: 100%;
  border: 2px dashed #a0a0a0;
  height: 150px;
  text-align: center;
  border-radius: 3px;
}
.ant-form.step-form .file-upload-field .upload-drag-icon {
  padding: 20px 20px 0 20px;
}
.ant-form.step-form .file-upload-field:hover {
  border-color: #305ebe;
}
.ant-form.step-form .file-upload-field:focus,
.ant-form.step-form .file-upload-field.file-upload-field-active {
  border-color: #305ebe;
}
.ant-form.step-form .file-upload-field.file-upload-field-reject {
  border-color: #fd4d4a;
}
.ant-form.step-form .dropped-files ul {
  list-style: none;
  padding: 20px 0;
}
.ant-form.step-form .dropped-files li a {
  color: #305ebe;
}
