@import url("../../utilities/variables.less");

.workflow-container {
  .ant-layout {
    background: #fafafa;
  }
  .workflow-list-wrapper {
    padding: 15px 46px 40px;
  }

  .section-top {
    margin: 20px 40px 14px;
    .waiting-section {
      i {
        font-size: 16px;
        vertical-align: middle;
      }
      .waiting-filter-trigger {
        padding-bottom: 3px;
        border-bottom: 2px solid @color-secondary;
      }
    }

    .ant-tabs-ink-bar {
      background: @color-secondary;
    }
  }

  .divider-top {
    border-bottom: 1px solid @color-text;
    margin: 20px 78px 30px;
  }

  .list-view-header {
    margin: 0 40px;
    .list-toggle-btn {
      .ant-switch {
        background-color: @color-secondary;
      }
    }
  }
}

.workflow-list {
  &.has-Open-workflow {
    > .month-group > div > .paper:not(.opened) {
      opacity: 0.5;
    }
  }

  .grouping-head {
    font-size: 14px;
    font-weight: bold;
    color: #b2b2b2;
    margin-top: 40px;
    margin-bottom: 8px;
  }

  .collapse-wrapper {
    position: relative;
  }

  .paper {
    &.workflow-list-item {
      //transition: margin 0.3s ease;
      // border-bottom: 1px solid lighten(@color-grey-light, 38%);
      box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.09);
      margin-bottom: 1px;

      &:last-child {
        border-bottom: none;
      }

      .ant-collapse-header {
        margin-bottom: 0;
        position: relative;
        border-radius: 2px;
        //transition: all 0.3s ease-in;
        &:hover {
          background: #f2f5fa;
        }
      }

      &.opened {
        margin: 25px -45px;
        //box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 284px 0 #e5e5e5;
        .Collapsible {
          border: none;
        }
        > .ant-collapse-header {
          background: #f2f5fa;
        }
      }
    }
    .workflow-item:last-child {
      .Collapsible {
        border: none;
      }
    }

    .ant-tabs {
      padding-bottom: 1px;
    }

    .ant-tabs-bar {
      padding-top: 10px;
      margin-bottom: 0px;
    }
    .ant-tabs-nav .ant-tabs-tab {
      padding-bottom: 20px;
      font-weight: 500;
      font-size: 13px;
      color: @color-grey-light;
      text-transform: uppercase;
    }

    .ant-tabs-nav .ant-tabs-tab-active {
      color: @color-secondary;
    }
    .ant-tabs-nav .ant-tabs-tab:hover {
      color: #505050;
    }
  }

  .ant-tabs {
    .workflow-list {
      padding: 5px 5px 15px;
    }
    .paper {
      &.workflow-list-item {
        margin: 0 0px;
        &.opened {
          margin: 25px 5px;
        }
      }
    }
  }

  .workflow-divider {
    height: 1px;
    background: #f2f5fa;
    margin: 0 22px;
  }

  //childworkflow / detail view;
  &.details-view {
    .paper {
      box-shadow: none;
    }
    .workflow-list-item {
      .ant-collapse-header {
        padding: 15px;
      }
      border-top: 1px solid #f2f5fa;
      border-bottom: 1px solid #f2f5fa;
      margin-bottom: -1px;
    }
  }
}

.lc-card {
  .details-link-wrapper {
    overflow: hidden;
    background: #fff;

    .details-link {
      display: block;
      text-align: center;
      background: @color-secondary;
      font-size: 20px;
      color: @color-white;
      line-height: 64px;
      //transition: all 0.5s ease-in;
      //width:100%;

      &,
      &:hover {
        text-decoration: none;
      }
      .material-icons {
        font-size: 36px;
        vertical-align: middle;
      }

      //transform: translateX(100%)
    }
  }
  &:hover {
    .details-link-wrapper:not(expanded) {
      .slide-this {
        animation: slide 0.3s ease-in-out 0s alternate 1 none running;
      }
    }
  }

  .slide-this {
    animation: slide 0.3s ease-in-out 0s alternate 1 none running;
  }

  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .risk-item {
    display: inline-block;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
  }
}

//
.header-opened {
  background: @color-secondary;
}

//LC CARD HEAR/COLLAPSED VIEW
.lc-card-head {
  padding: 13px 15px 13px 37px;
  background: @color-white;
  height: 50px;

  .company-name {
    font-size: 20px;
    padding-left: 8px;
    padding-right: 20px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
  }

  .lc1 {
    font-size: 10px;
    color: @color-grey;
    padding-left: 8px;
    padding-right: 20px;
  }

  .status-btn {
    position: relative;
    width: 120px;
    .status-text {
      max-width: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      padding-right: 5px;
      line-height: 32px;
    }
    .icon {
      position: absolute;
      top: 11px;
      right: 6px;
    }
  }
}

//LC CARD EXPANDED VIEW
.lc-card-wrapper {
  margin-top: 10px;
  box-shadow: 0 2px 284px 0 #e5e5e5;
  background: @color-white;
  .lc-data-wrapper {
    //border-bottom: 1px solid @color-grey-d;
    padding: 0px 0px 18px;
    margin: 0px 0px -11px;
    // white-space: nowrap;
    // list-style: none;
    // overflow: auto;
    .lc-data-item {
      width: 250px;
      font-size: 12px;
      margin-right: 40px;
      margin-bottom: 20px;
      display: inline-block;
      .label {
        font-weight: 500;
        text-transform: uppercase;
        color: @color-grey-light;
        margin-bottom: 8px;
      }
      .value {
        color: @color-black;
      }
    }
  }
  .sub-step-list {
    display: block;
    overflow-x: auto;
  }
  .lc-card-body {
    padding: 0 37px;
    .ant-tabs-content {
      margin-top: 20px;
    }
    .shadow-wrapper {
      position: relative;
    }
    .white-shadow {
      position: absolute;
      height: 100%;
      width: 40px;
      background: -moz-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      background: -webkit-linear-gradient(
        left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
          startColorstr="#00ffffff",
          endColorstr="#ffffff",
          GradientType=1
        );
      right: 0;
      top: 0;
    }
    .shadow-lc .white-shadow {
      right: -24px;
      height: 90%;
      top: -1px;
    }
    .lc-card-section {
      padding: 16px 22px;
    }
    .card-section-item {
      border-bottom: 1px solid #e8e8e8;
      padding: 0px 24px 18px;
      margin: 0px -24px 18px;
    }
    .sub-step-list {
      .groupaz-list {
        padding: 0;
        white-space: nowrap;
        list-style: none;
      }

      .groupaz {
        display: inline-block;
        vertical-align: top;
        max-width: 250px;
        margin-right: 20px;

        .grp-class {
          display: block;
          .grp-name {
            display: inline-block;
            width: 80%;
            //border-bottom: 1px solid #f3f5fa;*/
            padding-bottom: 12px;
            border-bottom: 1px solid #eee;
            //text-decoration: underline;
          }
        }

        .lc-step i,
        ul li i {
          font-size: 18px;
          vertical-align: middle;
          margin-right: 5px;
          width: 16px;
          padding-right: 20px;
        }

        .lc-step i {
          font-size: 18px;
        }

        ul {
          list-style: none;
          padding-left: 25px;
          padding-right: 25px;
          margin-top: 24px;
          border-right: 1px solid #eee;
          li {
            height: 40px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            a:hover {
              text-decoration: none;
              color: @color-text;
            }
          }
        }
      }
    }

    .step-ui {
      column-count: 3;
      column-gap: 55px;
      column-rule-style: solid;
      column-rule-width: 1px;
      column-rule-color: #d9d9d9;
      margin-bottom: 20px;
    }

    .step-item {
      display: block;
      padding-bottom: 20px;
      margin-left: 10px;
      font-size: 14px;
    }

    .step-ui .title-c {
      max-width: 100%;
    }
  }
}
