.Avenir-light {
  font-family: AvenirLTPro-Light, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.Avenir-normal {
  font-family: AvenirLTPro-Book, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.Avenir-medium {
  font-family: AvenirLTPro-Medium, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.Avenir-heavy {
  font-family: AvenirLTPro-Heavy, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: AvenirLTPro-Heavy, Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
  font-style: normal;
}
.profile-sidebar .user-profile-top {
  position: relative;
  padding-left: 76px;
}
.profile-sidebar .user-profile-top .avatar-wrapper {
  position: absolute;
  left: 16px;
}
.profile-sidebar .user-profile-top .user-name-wrap .name {
  margin-bottom: 0;
}
.profile-sidebar .user-profile-details {
  position: relative;
  padding-left: 76px;
}
.profile-sidebar .user-profile-details ul {
  list-style-type: none;
  padding: 0px;
}
.profile-sidebar .user-profile-details ul li {
  margin-bottom: 8px;
}
.profile-sidebar .user-profile-details ul .anticon {
  width: 16px;
  margin-right: 20px;
  color: #17ead9;
}
.profile-sidebar .collapser {
  margin-top: 30px;
}
.profile-sidebar .collapser .ant-collapse-header {
  color: #85d2cc !important;
  font-weight: bold;
}
