/*text colors*/
.text-primary {
  color: #17ead9;
}
.text-primary-light {
  color: #e5fdfb;
}
.text-red {
  color: #f16b51;
}
.text-orange {
  color: #ff7429;
}
.text-yellow {
  color: #eebd47;
}
.text-green {
  color: #3c763d;
}
.text-grey-dark {
  color: #505050;
}
.text-metal {
  color: #85d2cc;
}
.text-light {
  color: #999;
}
.text-white {
  color: #fff;
}
.text-base {
  color: #343b4c;
}
/*Text aligmnet*/
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-middle {
  vertical-align: middle;
}
/*Text weight*/
.text-bold {
  font-weight: bold;
}
.text-medium {
  font-weight: 500;
}
.text-normal {
  font-weight: normal;
}
.text-thin {
  font-weight: 400;
}
/*Text size*/
.t-12 {
  font-size: 12px;
}
.t-14 {
  font-size: 14px;
}
.t-16 {
  font-size: 16px;
}
.t-18 {
  font-size: 18px;
}
.t-22 {
  font-size: 22px;
}
.t-24 {
  font-size: 24px;
}
/*Text case*/
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-ellipsis {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-anchor {
  cursor: pointer;
}
.text-underline {
  text-decoration: underline;
}
.text-nounderline,
.text-nounderline:hover {
  text-decoration: none;
}
/*Background Colors*/
.bg-primary {
  background-color: #17ead9;
}
.bg-primary-light {
  background: #e5fdfb;
}
.bg-red {
  background-color: #f16b51;
}
.bg-orange {
  background-color: #ff7429;
}
.bg-yellow {
  background-color: #eebd47;
}
.bg-green {
  background-color: #3c763d;
}
.bg-grey-dark {
  background-color: #505050;
}
.bg-metal {
  background-color: #85d2cc;
}
.bg-light {
  background-color: #999;
}
.bg-white {
  background-color: #fff;
}
/*Padding*/
.side-padder-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.vertical-padder-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pd-left {
  padding-left: 16px;
}
.pd-right {
  padding-right: 16px;
}
.pd-top {
  padding-top: 16px;
}
.pd-bottom {
  padding-bottom: 16px;
}
.pd-left-sm {
  padding-left: 8px;
}
.pd-right-sm {
  padding-right: 8px;
}
.pd-top-sm {
  padding-top: 8px;
}
.pd-bottom-sm {
  padding-bottom: 8px;
}
.pd-left-lg {
  padding-left: 24px;
}
.pd-right-lg {
  padding-right: 24px;
}
.pd-top-lg {
  padding-top: 24px;
}
.pd-bottom-lg {
  padding-bottom: 24px;
}
.pd-ard-sm {
  padding: 8px;
}
.pd-ard-md {
  padding: 16px;
}
.pd-ard-lg {
  padding: 24px;
}
/*Margin*/
.mr-ard-sm {
  margin: 8px;
}
.mr-ard-md {
  margin: 16px;
}
.mr-ard-lg {
  margin: 24px;
}
.mr-left {
  margin-left: 16px;
}
.mr-right {
  margin-right: 16px;
}
.mr-top {
  margin-top: 16px;
}
.mr-bottom {
  margin-bottom: 16px;
}
.mr-left-sm {
  margin-left: 8px;
}
.mr-right-sm {
  margin-right: 8px;
}
.mr-top-sm {
  margin-top: 8px;
}
.mr-bottom-sm {
  margin-bottom: 8px;
}
.mr-left-lg {
  margin-left: 24px;
}
.mr-right-lg {
  margin-right: 24px;
}
.mr-top-lg {
  margin-top: 24px;
}
.mr-bottom-lg {
  margin-bottom: 24px;
}
/*Float and clear*/
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.color-grey-dark-fix {
  clear: both;
}
/* box shadow */
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.small {
  font-size: 80%;
}
.opacity-half {
  opacity: 0.5;
}
.hidden {
  display: none;
}
