@media print {
  .no-print {
    display: none;
  }
  @page {
    margin: 0;
  }
  body {
    margin: 1.6cm;
  }

  .step-form .ant-row,
  .ant-form-item,
  .page-break {
    page-break-before: auto;
  }
  .break-avoid {
    page-break-inside: avoid;
  }
}

// @page {
//   margin-top: 20px;

// }

.printOnly {
  .hide-print {
    display: none;
  }
}

.print-header {
  .logo {
    max-width: 150px;
  }
}

.step-printing {
  .add_comment_btn,
  .right-actions {
    display: none;
  }

  .has-flag textarea {
    border-left-width: 10px !important;
  }
}
